@charset "UTF-8";

body
{
    background-image: url(fundo.png);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-wrap: wrap;
}
main
{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.834);
    max-width: 450px;
    width: 100%; 
    border-radius: 2%;
    box-shadow: 10px 20px 20px black;
}
.foto-perfil
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5px;    
    box-shadow: 10px 10px 20px black;
}
.foto-perfil:hover
{
    box-shadow: 10px 20px 25px black;
}
.redes-sociais
 {    
    align-items: center;
    text-align: center;    
    margin: auto;
    padding: 0;     
    background-color: rgba(0, 0, 0, 0.656);
    max-width: 400px;
    width: 100%; 
    height: 160px;
    border-radius: 2%;    
    box-shadow: 10px 10px 20px black;    
    text-align: center;
    
}
.redes-sociais p {
    font-size: 30px;
    font-weight: bold;
}
.redes-sociais a {
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
}
.redes-sociais a:hover {
    color: #7a7a7a;
    font-size: 55px;
}
.fundo-biografia
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;     
    background-color: rgba(0, 0, 0, 0.656);
    max-width: 400px;
    width: 100%; 
    border-radius: 2%;    
    box-shadow: 10px 10px 20px black;
}
.fonte-biografia
{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px;
    margin-top: 1px;
}
main > h1
{
    text-shadow: 10px 10px 10px black;
}
main > h1:hover
{
    font-size: 35px;
}
img#imagens1
{
    width: 400px;
    border-radius: 2%; 
    box-shadow: 10px 10px 10px black;
    margin-top: 10px;
     margin-bottom: 10px;
}
img#imagens2
{
    width: 400px;
    border-radius: 2%; 
    box-shadow: 10px 10px 10px black;
    margin-top: 10px;
     margin-bottom: 10px;
}
img#imagens1:hover
{
    width: 410px;
}
img#imagens2:hover
{
    width: 410px;
}
